.pgcliente {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #E1DBDB;

    .seccao1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        background-color: #fff;
        padding: 20px 50px;
        border-radius: 7px;
        margin: 50px 0;

        .texto {
            display: flex;
            flex-direction: row;
            gap: 20px;

            #usuario {
                width: 100px;
                height: 80px;
            }

            .intro {
                display: flex;
                flex-direction: column;

                h1 {
                    font: 700 24px 'Poppins';

                    span {
                        color: #D90000;
                    }
                }

                .email {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    font: 400 14px 'Poppins';
                }
            }
        }

        .editar {
            display: flex;
            gap: 20px;

            button {
                padding: 8px 20px;
                font: 600 18px 'Poppins';
                color: #fff;
                background-color: #D90000;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: #c70000;
                }
            }
        }
    }

    #atalho {
        font: 700 24px 'Poppins';
        width: 90%;
        margin: 20px auto;
        max-width: 1200px;
    }

    .seccao2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 90%;
        max-width: 1200px;

        a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fff;
            text-decoration: none;
            height: 200px;
            width: calc(50% - 20px);
            padding: 15px;
            border-radius: 7px;
            box-shadow: 0 7px 15px gray;
            transition: 0.3s;
            overflow: hidden;

            h1 {
                text-align: center;
                font: 500 20px 'Poppins';
                color: #D90000;
                margin: 10px 0;
            }

            .caixinha {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: 5px;

                p {
                    color: #000;
                    font-size: 14px;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }

            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
                margin: 0 auto;
            }

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 7px 15px #fff;
                border: 1px solid #D90000;
            }

            &:active {
                transform: scale(1.0);
                box-shadow: 0 7px 15px #D90000;
            }
        }
    }

    .edit-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        .popup-content {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
            width: 400px;
            max-width: 90%;
            text-align: center;

            .preview {
                border: 1px solid rgba(0, 0, 0, 0.15);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: 10px auto 30px;
            }

            .foto {
                width: 50%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
                margin: 0 auto 10px;
            }

            h2 {
                margin-bottom: 20px;
                font-size: 24px;
                color: #333;
            }

            input {
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }

            .popup-buttons {
                display: flex;
                justify-content: space-between;

                button {
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    font-size: 16px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:first-child {
                        background-color: #28a745;
                        color: white;

                        &:hover {
                            background-color: #218838;
                        }
                    }

                    &:last-child {
                        background-color: #dc3545;
                        color: white;

                        &:hover {
                            background-color: #c82333;
                        }
                    }
                }
            }
        }
    }

    .feedbacks {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin-top: 50px;

        .titulo {
            width: 90%;

            h1 {
                font: 400 32px 'Poppins';
                margin-bottom: 50px;
            }
        }

        .comentario {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            width: 40%;

            h1 {
                font: 400 20px 'Poppins';
            }

            input {
                padding: 5px 10px;
                font: 400 18px 'Poppins';
                border-radius: 7px;
                border: 1px solid gray;
                outline: none;
            }

            button {
                padding: 7px 20px;
                background-color: #FF0000;
                color: #E9DDD1;
                border-radius: 13px;
                border: 3px solid transparent;
                cursor: pointer;
                font: 600 16px 'Poppins';
                transition: 0.3s;

                &:hover {
                    transform: scale(1.02);
                    border: 3px solid red;
                    background-color: transparent;
                    color: red;
                }

                &:active {
                    transform: scale(1.0);
                    background-color: red;
                    color: #fff;
                }
            }
        }
    }

    .avalicoes {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: center;
        background-color: #E1DBDB;

        .protecao {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 1400px) {
    .pgcliente {
        gap: 40px;
    }

    .seccao1 {
        flex-direction: column;
        padding: 15px;
        width: 100%;

        .texto {
            flex-direction: column;
            align-items: center;
            gap: 10px;

            h1 {
                font-size: 24px;
            }
        }

        .editar {
            justify-content: center;
            button {
                width: 100%;
                margin: 5px 0;
            }
        }
    }

    .seccao2 {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        width: 100%;

        a {
            width: 90%;
            height: auto;
        }
    }

    .feedbacks {
        margin-top: 30px;

        .comentario {
            flex-direction: column;
            width: 100%;

            input {
                width: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    .pgcliente {
        .seccao1 {
            flex-direction: column;
        }

        .seccao2 {
            a {
                width: 95%;
                height: auto;
            }
        }

        .feedbacks {
            .comentario {
                input {
                    width: 95%;
                }
            }
        }
    }
}
