.MenuLateral {
    display: flex;
    flex-direction: column;
    width: 250px; /* Largura do menu */
    background-color: #fff; /* Cor de fundo do menu */
    transition: transform 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    transform: translateX(-100%); /* Oculte o menu inicialmente */

    &.aberto {
        transform: translateX(0); /* Mostre o menu quando aberto */
    }

    .intro {
        display: flex;
        align-items: center;
        padding: 20px;
    }

    .hamburguer {
        display: none; /* Oculte o ícone de hambúrguer em telas grandes */
        cursor: pointer;
        padding: 10px;
        margin: 10px;

        .linha {
            width: 30px;
            height: 3px;
            background-color: #000;
            margin: 5px 0;
        }
    }

    .botoes {
        display: flex;
        flex-direction: column;
        padding: 20px;

        a {
            text-decoration: none;
            color: #000;
            margin: 10px 0;
            padding: 10px;
            transition: background-color 0.2s;

            &:hover {
                background-color: #f0f0f0; /* Mudar cor ao passar o mouse */
            }
        }
    }
}

// Estilos para telas pequenas
@media (max-width: 768px) {
    .hamburguer {
        display: flex; /* Mostre o ícone de hambúrguer em telas pequenas */
    }

    .botoes {
        display: block; /* Exiba os botões em um bloco quando o menu estiver aberto */
    }
}

@media (min-width: 769px) {
    .MenuLateral {
        transform: translateX(0); /* Mantenha o menu visível em telas grandes */
    }

    .hamburguer {
        display: none; /* Oculte o ícone de hambúrguer em telas grandes */
    }
}
